

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>layuiAdmin 网站用户</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../../layuiadmin/style/admin.css"
	media="all">
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header layuiadmin-card-header-auto">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">用户名</label>
						<div class="layui-input-block">
							<input type="text" name="username" placeholder="请输入"
								autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-useradmin" lay-submit
							lay-filter="LAY-user-front-search">
							<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="layui-card-body">
				<div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
              				<button class="layui-btn" data-type="getCheckData" id="addbtn">创建用户</button>
            			</div>

				<table id="LAY-user-manage" lay-filter="LAY-user-manage">
				</table>
			</div>
		</div>
	</div>

	<script src="../../../layuiadmin/layui/layui.js"></script>
	<script type="text/javascript" id="rid-webuser">
		{{ formatrid(d.rid) }}
	</script>
	<script type="text/javascript" id="status-webuser">
		{{ formatstatus(d.states) }}
	</script>
	<script type="text/html" id="table-useradmin-webuser">
          		<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="repass"><i class="layui-icon layui-icon-password"></i>重置密码</a>
          		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
    </script>
	<script type="text/javascript">
		function formatrid(obj) {
			var html = '';
			if (obj == 0) {
				html = '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="rid">普通用户</a>'
			} else if (obj == 1) {
				html = '<a class="layui-btn layui-btn layui-btn-xs" lay-event="rid">管理员</a>'
			} else if (obj == 2) {
				html = '<a class="layui-btn layui-btn-radius layui-btn-danger  layui-btn-xs" lay-event="rid">超级管理员</a>'
			}else {
				html = '<a class="layui-btn layui-btn-radius layui-btn-normal  layui-btn-xs" lay-event="rid">状态未知</a>'
				}
			return html;
		}
		function formatstatus(obj) {
			var html = '';
			if (obj == 0) {
				html = '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="status">冻结</a>'
			} else {
				html = '<a class="layui-btn layui-btn-xs" lay-event="status">正常</a>'
			}
			return html;
		}
	</script>
	<script>
		layui
				.config({
					base : '../../../layuiadmin/' //静态资源所在路径
				})
				.extend({
					index : 'lib/index' //主入口模块
				})
				.use(
						[ 'index', 'table', 'admin' ],
						function() {
							var $ = layui.$, form = layui.form, table = layui.table, admin = layui.admin;

							//监听搜索
							form.on('submit(LAY-user-front-search)', function(
									data) {
								var field = data.field;
								console.dir(field);
								//执行重载
								table.reload('LAY-user-manage', {
									where : field
								});
							});

							table.render({
								elem : '#LAY-user-manage',
								even : true, //开启隔行背景
								page : true, //开启分页
								url : '/user/getAllUser' //数据接口
								,
								cols : [ [ {
									field : 'id',
									title : '序号',
									align : 'center',
									width : 80,
									sort : true
								}, {
									field : 'username',
									align : 'center',
									sort : true,
									title : '用户名'
								}, {
									field : 'company',
									align : 'center',
									sort : true,
									title : '公司名称', edit: 'text'
								}, {
									field : 'power_plant_name',
									align : 'center',
									sort : true,
									title : '电厂名称', edit: 'text'
								}, {
									field : 'electricity',
									align : 'center',
									sort : true,
									title : '电站电量', edit: 'text'
								}, {
									field : 'contact_name',
									align : 'center',
									sort : true,
									title : '联系人', edit: 'text'
								}, {
									field : 'phone',
									align : 'center',
									sort : true,
									title : '联系人电话', edit: 'text'
								}, {
									field : 'states',
									title : '账号状态',
									width : 80,
									align : 'center',
									sort : true,
									templet : '#status-webuser'
								}, {
									field : 'rid',
									title : '权限',
									width : 120,
									align : 'center',
									sort : true,
									templet : '#rid-webuser'
								}, {
									field : 'creat_time',
									title : '创建时间',
									align : 'center',
									sort : true
								}, {
									align : 'center',
									title : '操作',
									fixed : 'right',
									templet : '#table-useradmin-webuser'
								} ] ]
							});

						    //监听单元格编辑
						    table.on('edit(LAY-user-manage)', function(obj){
						      var value = obj.value //得到修改后的值
						      ,data = obj.data //得到所在行所有键值
						      ,field = obj.field; //得到字段
						      $.get("/user/updateUser",data
						              ,function(data,status){
						      			  console.dir(data);
						      			  if(data.code==0){
						      				  layer.msg('更新成功');
						          			  }else{
						          				  layer.alert('更新失败', {icon: 1});
						              			  }
										});
						    });

							//监听工具条
							table.on('tool(LAY-user-manage)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
								var data = obj.data; //获得当前行数据
								var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
								var tr = obj.tr; //获得当前行 tr 的DOM对象

								if (layEvent === 'detail') { //查看
									//do somehing
								} else if (layEvent === 'del') { //删除
									layer.confirm('真的删除行么', function(index) {

										$.post("/user/delUser",
												{
													id:data.id
													}
											, function(data, status) {
										if (data.code == 0) {
											//同步更新缓存对应的值
												layer.msg('刪除成功！');
												obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
										} else if (data.code == 1) {
											layer.msg(data.msg);
										}
									});
										layer.close(index);
										//向服务端发送删除指令
									});
								} else if (layEvent === 'repass') { //编辑
									
									//重置密码
									layer.confirm('确定要重置用户密码嘛？', function(index) {

										$.post("/user/changePassWord",
												{
													id:data.id
													}
											, function(data, status) {
										if (data.code == 0) {
											//同步更新缓存对应的值
												layer.msg('重置成功,密码123456');
										} else if (data.code == 1) {
											layer.msg(data.msg);
										}
									});
										layer.close(index);
										//向服务端发送删除指令
									});

								} else if (layEvent === 'status') { //编辑
									$.post("/user/changeStatus",
												{
													id:data.id
													}
											, function(data, status) {
												if (data.code == 0) {
													//同步更新缓存对应的值
													obj.update({
														states :data.states
													});
													layer.msg("更新成功");
												} else if (data.code == 1) {
													//同步更新缓存对应的值
													layer.msg(data.msg);
												}
									});

								}else if(layEvent === 'rid'){
									$.post("/user/changeRid",
											{
												id:data.id
												}
										, function(data, status) {
									if (data.code == 0) {
										//同步更新缓存对应的值
										obj.update({
											rid :data.rid
										});
										layer.msg("更新成功");
									} else if (data.code == 1) {
										//同步更新缓存对应的值
										layer.msg(data.msg);
									}
								});
									
									}
							});
							
							  $('#addbtn').click(function(){
								  layer.open({
							          type: 2
							          ,title: '添加用户'
							          ,content: 'userform.html'
							          ,area: ['550px', '450px']
							          ,btn: ['确定', '取消']
							          ,yes: function(index, layero){
							        	  var iframeWindow = window['layui-layer-iframe'+ index]
								            ,submitID = 'LAY-app-workorder-submit'
								            ,submit = layero.find('iframe').contents().find('#'+ submitID);
								            //监听提交
								            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
								              var field = data.field; //获取提交的字段
								              console.dir(field);
								              //提交 Ajax 成功后，静态更新表格中的数据
								                $.get("/user/addUserByAdmin",field
										                ,function(data,status){
								                			  console.dir(data);
								                			  if(data.code==200){
								                				  layer.msg('添加成功');
									      			              table.reload('LAY-user-manage'); //数据刷新
									    			              layer.close(index); //关闭弹层
									                			  }else
										                			  {
									                				   layer.msg(data.msg, {icon: 5});
										                			  }
					  									});
								            });  
								            
								            submit.trigger('click');
							          }
							          ,success: function(layero, index){

							          }
							        });

								  });
							   
						});
	</script>
</body>
</html>
