

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>客户信息</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../../layuiadmin/style/admin.css"
	media="all">
<script type="text/javascript"
	src="http://api.map.baidu.com/api?v=2.0&ak=1KXLwdlSBToh33v8RoCc7FaOzhNlvdVj"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<style type="text/css">
#allmap {
	width: 100%;
	height: 850px;
}
</style>
</head>
<body>
	<div class="layui-row">
		<!-- 填充内容 -->
		<div class="layui-col-md6">
			<div class="layui-card">
				<div id="allmap"></div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-row">
					<div class="layui-btn-container">
						<button class="layui-btn layui-btn-fluid layui-btn-normal">客户信息</button>
					</div>
				</div>
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<label class="layui-form-label layui-btn layui-btn-normal">客户姓名</label>
						<div class="layui-input-block">
							<select name="city">
								<option value="0">中国航天科技集团</option>
								<option value="1">中国航天科工集团</option>
								<option value="2">中国人民解放军</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label layui-btn layui-btn-normal">客户地区</label>
						<div class="layui-input-block">
							<select name="city">
								<option value="0">北京</option>
								<option value="1">上海</option>
								<option value="2">广州</option>
								<option value="3">深圳</option>
								<option value="4">杭州</option>
							</select>
						</div>
					</div>
				</form>
				<!--  <table class="layui-hide" id="test-table-page" lay-filter="test-table-onrow"></table> -->
				<div class="layui-card-body">

					<table class="layui-hide" id="test-table-onrow"
						lay-filter="test-table-onrow"></table>

				</div>
			</div>
		</div>
	</div>

	<script src="../../../layuiadmin/layui/layui.js"></script>

	<script>
	var markers = [];
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	function myFun(result){
		var cityName = result.name;
		map.setCenter(cityName);
	}
	var myCity = new BMap.LocalCity();
	myCity.get(myFun);
	map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
	var top_left_control = new BMap.ScaleControl({
		anchor : BMAP_ANCHOR_TOP_LEFT
	});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl(); //左上角，添加默认缩放平移控件
	var top_right_navigation = new BMap.NavigationControl({
		anchor : BMAP_ANCHOR_TOP_RIGHT,
		type : BMAP_NAVIGATION_CONTROL_SMALL
	}); //右上角，仅包含平移和缩放按钮
	map.addControl(top_left_control);
	map.addControl(top_left_navigation);
	map.addControl(top_right_navigation);
	map.enableScrollWheelZoom();

	var opts = {
			width : 250,     // 信息窗口宽度
			height: 80,     // 信息窗口高度
			title : "信息窗口" , // 信息窗口标题
			enableMessage:true//设置允许信息窗发送短息
		   };
	   
	function addMarker(point){
		  var marker = new BMap.Marker(point);
		  map.addOverlay(marker);
		}

	function addClickHandler(content,marker){
		marker.addEventListener("click",function(e){
			openInfo(content,e)}
		);
	}
	function openInfo(content,e){
		var p = e.target;
		var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
		var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	};
		layui.config({
			base : '../../../layuiadmin/' //静态资源所在路径
		}).extend({
			index : 'lib/index' //主入口模块
		}).use(
				[ 'index', 'form','table' ],
				function() {
					var admin = layui.admin, table = layui.table;
					table.render({
						elem : '#test-table-onrow',
						 even: true, //开启隔行背景
						 height: 'full-100',
						url : '../../common/getCustomers',
						cols : [ [ {
							field : 'id',
							width : 30,
							title : '序号',
							sort : true
						}, {
							field : 'customer_name',
							title : '电站名称',
							sort : true
						}, {
							field : 'customer_address',
							title : '地址',
							sort : true
						}, {
							field : 'customer_contact_name',
							title : '联系人',
							sort : true
						}, {
							field : 'customer_contact',
							title : '联系方式',
							sort : true
						} ] ]
					,
				      done : function(res, curr, count){
				          // do something...
				          res.data.forEach(function(item){
				        	  var point = new BMap.Point(item.long, item.lat);
				        	  var marker = new BMap.Marker(new BMap.Point(item.long,item.lat));  // 创建标注
				      			var content = item.customer_name+",地址:"+item.customer_address+",联系人:"+item.customer_contact_name+",联系方式:"+item.customer_contact;
				      				map.addOverlay(marker);               // 将标注添加到地图中
				      			addClickHandler(content,marker);
				      			markers.push(marker);
								});
				        //最简单的用法，生成一个marker数组，然后调用markerClusterer类即可。
				      	var markerClusterer = new BMapLib.MarkerClusterer(map, {markers:markers});
				      }
					,
						page : true
					});
					//监听行单击事件（单击事件为：rowDouble）
					table.on('row(test-table-onrow)', function(obj) {
						var data = obj.data;
						map.centerAndZoom(new BMap.Point(data.long, data.lat), 11);
						//标注选中样式
						obj.tr.addClass('layui-table-click').siblings()
								.removeClass('layui-table-click');
					});
				});
	</script>
	<!-- 	<script>
	/
	
	layui.config({
	    base: '../../../layuiadmin/' //静态资源所在路径
	  }).extend({
	    index: 'lib/index' //主入口模块
	  }).use(['index', 'form','table'], function(){
	    var admin = layui.admin;
	    var table = layui.table;
	    table.render({
	      elem: '#test-table-page'
	      ,url: '../../common/getCustomers'
	      ,cols: [[
	        {field:'id',  width:30, title: '序号', sort: true}
	        ,{field:'customer_name',  title: '电站名称', sort: true}
	        ,{field:'customer_address',  title: '地址', sort: true}
	        ,{field:'customer_contact_name', title: '联系人', sort: true}
	        ,{field:'customer_contact', title: '联系方式', sort: true}
	      ]],
	      done : function(res, curr, count){
	          // do something...
	          res.data.forEach(function(item){
	        	  var point = new BMap.Point(item.long, item.lat);
	        	  var marker = new BMap.Marker(new BMap.Point(item.long,item.lat));  // 创建标注
	      			var content = item.customer_name+",地址:"+item.customer_address+",联系人:"+item.customer_contact_name+",联系方式:"+item.customer_contact;
	      				map.addOverlay(marker);               // 将标注添加到地图中
	      			addClickHandler(content,marker);
					})
	      }
	      ,page: true
	    });

	  //监听行单击事件
	    table.on('row(test-table-page)', function(obj){
	      console.log(obj.tr) //得到当前行元素对象
	      console.log(obj.data) //得到当前行数据
	      //obj.del(); //删除当前行
	      //obj.update(fields) //修改当前行数据
	    });
	    
		  //监听行单击事件（单击事件为：rowDouble）
	    table.on('row(test-table-page)', function(obj){
	      var data = obj.data;
	      console.dir(data);
	      layer.alert(JSON.stringify(data), {
	        title: '当前行数据：'
	      });
	      
	      //标注选中样式
	      obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
	    });
	    
	  });


	</script> -->

</body>
</html>