<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>客户信息</title>
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../../layuiadmin/style/admin.css"
	media="all">
<link type="text/css" rel="stylesheet"
	href="../../css/views/bdmapStyle.css">
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript"
	src="http://api.map.baidu.com/api?v=2.0&ak=2COzFaICuIyVj7V3VetKfmdRVnX8BhVr"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<style type="text/css">
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "微软雅黑";
}

#allmap {
	height: 100%;
	width: 100%;
}

#r-result {
	width: 100%;
}
</style>
</head>
<body>
			<section class="section-bdmap">
				<div class="map-search">
				<!--/one-->
					<div class="one layui-form">
						<label class="option">客户姓名</label> <select id="select_property" lay-filter="company">
							<option></option>
							#for(x:company)
							<option value=#(x.name) >#(x.name)</option>
							#end
						</select>
					</div>
					<!--/one-->
					<div class="one layui-form">
						<label class="option">客户地区</label> 
						<select id="select_province" lay-filter="province">
						</select>
					</div>
					
					<div class="one layui-form" style="text-align: center;">
						<button class="layui-btn" type="button" id="conform">确定</button>
					</div>
					<!--/one-->
				</div>
				<!--/map-search-->
			</section>
			<!--/map-bdmap-->

			<section id="allmap"></section>
			<!--百度地图展示区域-->
</body>
	<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
	var markers = [];
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	function myFun(result){
		var cityName = result.name;
		map.setCenter(cityName);
	}
	var myCity = new BMap.LocalCity();
	myCity.get(myFun);
	map.centerAndZoom(new BMap.Point(116.404, 39.915),5);
	var top_left_control = new BMap.ScaleControl({
		anchor : BMAP_ANCHOR_TOP_LEFT
	});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl(); //左上角，添加默认缩放平移控件
	var top_right_navigation = new BMap.NavigationControl({
		anchor : BMAP_ANCHOR_TOP_RIGHT,
		type : BMAP_NAVIGATION_CONTROL_SMALL
	}); //右上角，仅包含平移和缩放按钮
	map.addControl(top_left_control);
	map.addControl(top_left_navigation);
	map.addControl(top_right_navigation);
	map.enableScrollWheelZoom();

	var opts = {
			width : 250,     // 信息窗口宽度
			height: 80,     // 信息窗口高度
			title : "信息窗口" , // 信息窗口标题
			enableMessage:true//设置允许信息窗发送短息
		   };
	   
	function addMarker(point){
		  var marker = new BMap.Marker(point);
		  map.addOverlay(marker);
		}

	function addClickHandler(content,marker){
		marker.addEventListener("click",function(e){
			openInfo(content,e)}
		);
	}
	function openInfo(content,e){
		var p = e.target;
		var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
		var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	};
		layui.config({
			base : '../../../layuiadmin/' //静态资源所在路径
		}).extend({
			index : 'lib/index' //主入口模块
		}).use(
				[ 'index', 'form','table' ],
				function() {
					var admin = layui.admin, table = layui.table ,form=layui.form;

					form.on('select(company)', function(data){
        	 			$("#select_province option").empty();
						  	$.get("/customer/getCompanyProvince?company="+data.value,function(data,status){
							  	if(status=="success"){
			        	 			if(data.province.length>0){
										data.province.forEach(function(item){
								        	console.dir(item.province);
								        	 $("#select_province").append("<option value='"+item.province+"'>"+item.province+"</option>");
								        	 form.render();
										});
									  	}
								  	};
							  	
							});
					});	
				});

		
		$.get("/common/getListCustomers",function(data,status){
			data.data.forEach(function(item){
	        	  var point = new BMap.Point(item.long, item.lat);
	        	  var marker = new BMap.Marker(new BMap.Point(item.long,item.lat));  // 创建标注
	      			var content = "电站名称:"+item.customer_name+"<br />电站地址:"+item.customer_address;
	      				map.addOverlay(marker);               // 将标注添加到地图中
	      			addClickHandler(content,marker);
	      			markers.push(marker);
					});
			});
		
		$('#conform').click(function(){
							$.get("/customer/getCustomer?company="+$("#select_property").val()+"&province="+$("#select_province").val(),function(data,status){
							  	if(status=="success"){
									layer.msg("查询到"+data.data.length+"条数据");
									map.clearOverlays(); 
									markers=[];
									data.data.forEach(function(item){
							        	  var point = new BMap.Point(item.long, item.lat);
							        	  var marker = new BMap.Marker(new BMap.Point(item.long,item.lat));  // 创建标注
							      			var content = "电站名称:"+item.customer_name+"<br />电站地址:"+item.customer_address;
							      				map.addOverlay(marker);               // 将标注添加到地图中
							      			addClickHandler(content,marker);
							      			markers.push(marker);
											});
								  	};
							  	
							});
			});
	</script>
</html>

