

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>服务方案</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../../layuiadmin/style/admin.css"
	media="all">
<link rel="stylesheet" href="../../css/views/common.css" media="all">
</head>
<body>

	<div class="layui-container"> 
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-header" style="text-align:center"><h3><strong>CNCACTS 0004-2010《并网光伏系统验收要求》</strong></h3></div>
					<div class="layui-card-body">
						<table class="layui-table" lay-even lay-skin="line" lay-size="lg">
							<thead>
								<tr>
									<th>序号</th>
									<th>分类</th>
									<th>检验项目</th>
									<th>检验标准及依据</th>
								</tr>
							</thead>
							<tr>
								<td>1</td>
								<td rowspan="7">文件检查</td>
								<td>项目基本信息</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.1</th>
							</tr>
							<tr>
								<td>2</td>
								<td>项目基础文件</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2</th>
							</tr>
							<tr>
								<td>3</td>
								<td>工程图纸</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2.2</th>
							</tr>
							<tr>
								<td>4</td>
								<td>机械设计</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2.3</th>
							</tr>
							<tr>
								<td>5</td>
								<td>主设备技术规格书</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2.4</th>
							</tr>
							<tr>
								<td>6</td>
								<td>运行和维护信息</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2.5</th>
							</tr>
							<tr>
								<td>7</td>
								<td>电站设备合同符合性的检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.3</th>
							</tr>
							<tr>
								<td>1</td>
								<td rowspan="7">文件检查</td>
								<td>项目基本信息</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.1</th>
							</tr>
							<tr>
								<td>2</td>
								<td>项目基础文件</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2</th>
							</tr>
							<tr>
								<td>3</td>
								<td>工程图纸</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2.2</th>
							</tr>
							<tr>
								<td>4</td>
								<td>机械设计</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2.3</th>
							</tr>
							<tr>
								<td>5</td>
								<td>主设备技术规格书</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2.4</th>
							</tr>
							<tr>
								<td>6</td>
								<td>运行和维护信息</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.2.5</th>
							</tr>
							<tr>
								<td>7</td>
								<td>电站设备合同符合性的检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》6.3</th>
							</tr>
							<tr>
								<td>8</td>
								<td rowspan="14">现场检查</td>
								<td>直流系统检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.2</th>
							</tr>
							<tr>
								<td>9</td>
								<td>太阳光伏组件检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.2.1</th>
							</tr>
							<tr>
								<td>10</td>
								<td>汇流箱检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.2.2</th>
							</tr>
							<tr>
								<td>11</td>
								<td>直流配电柜检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.2.3</th>
							</tr>
							<tr>
								<td>12</td>
								<td>连接电缆检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.2.4</th>
							</tr>
							<tr>
								<td>13</td>
								<td>触电保护和接地检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.3</th>
							</tr>
							<tr>
								<td>14</td>
								<td>交流系统检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.4</th>
							</tr>
							<tr>
								<td>15</td>
								<td>并网逆变器检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.4.1</th>
							</tr>
							<tr>
								<td>16</td>
								<td>交流配电柜检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.4.2</th>
							</tr>
							<tr>
								<td>17</td>
								<td>系统运行检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.2.5</th>
							</tr>
							<tr>
								<td>18</td>
								<td>标签与标识检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》7.3</th>
							</tr>
							<tr>
								<td>19</td>
								<td>方阵支架检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》8.2</th>
							</tr>
							<tr>
								<td>20</td>
								<td>基础检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》8.3<br>GB 50202-2002
								</th>
							</tr>
							<tr>
								<td>21</td>
								<td>光伏方阵场检查</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》8.4<br>GB 50202-2002
								</th>
							</tr>
							<tr>
								<td>22</td>
								<td rowspan="8">现场测试</td>
								<td>保护装置和等电位体的测试</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》9.2</th>
							</tr>
							<tr>
								<td>23</td>
								<td>极性测试</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》9.3</th>
							</tr>
							<tr>
								<td>24</td>
								<td>光伏组串电流测试</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》9.4</th>
							</tr>
							<tr>
								<td>25</td>
								<td>功能测试</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》9.5</th>
							</tr>
							<tr>
								<td>26</td>
								<td>光伏方阵绝缘阻值测试</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》9.6</th>
							</tr>
							<tr>
								<td>27</td>
								<td>光伏方阵标称功率测试</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》9.7</th>
							</tr>
							<tr>
								<td>28</td>
								<td>电能质量测试</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》9.8</th>
							</tr>
							<tr>
								<td>29</td>
								<td>系统电气效率测试</td>
								<th>CNCA/CTS 0004-2010《并网光伏系统验收要求》9.9</th>
							</tr>
							
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<script src="../../../layuiadmin/layui/layui.js"></script>
	<script>
		layui.config({
			base : '../../../layuiadmin/' //静态资源所在路径
		}).extend({
			index : 'lib/index' //主入口模块
		}).use([ 'index', 'table' ], function() {
			var table = layui.table;
		});
	</script>
</body>
</html>