

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>添加检测设备</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <style>
input.hidden {display:none;}
</style>
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-form-order" id="layuiadmin-form-order" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">设备名称</label>
      <div class="layui-input-inline">
        <input type="text" name="device_name" lay-verify="required" placeholder="请输入设备名称" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">设备厂家</label>
      <div class="layui-input-inline">
        <input type="text" name="vender" lay-verify="required" placeholder="请输入设备厂家" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">设备型号</label>
      <div class="layui-input-inline">
        <input type="text" name="model" lay-verify="required" placeholder="请输入设备型号" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">主要参数</label>
      <div class="layui-input-inline">
        <input type="text" name="parameter" lay-verify="required" placeholder="请输入设备主要参数" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">设备编号</label>
      <div class="layui-input-inline">
        <input type="text" name="device_number" lay-verify="required" placeholder="请输入设备编号" autocomplete="off" class="layui-input">
      </div>
    </div>
     <div class="layui-form-item">
       <label class="layui-form-label">上传报告</label>
       <div class="layui-input-inline">
       <button type="button" class="layui-btn layui-btn-danger" id="test-upload" >
              <i class="layui-icon"></i>上传报告
       </button>
       <input id='file' class="hidden" type="text" name="calibration_report_id"  display='none'  autocomplete="off" class="layui-input">
       </div>
      </div>
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-app-workorder-submit" id="LAY-app-workorder-submit" value="确认">
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form','upload','jquery'], function(){
    var $ = layui.$
    ,form = layui.form;
    var upload= layui.upload;


  //设定文件大小限制
    upload.render({
      elem: '#test-upload'
      ,url: '/upload/uploadDetecDevice'
      ,accept: 'file' //普通文件
       ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
  		    layer.load(1); //上传loading
		  }
      ,done: function(res){
        if(res.code===0){
            console.log(res);
			  layer.msg('上传成功');
            $('#test-upload').text("已上传");
            $('#file').val(res.urid);
	          layer.closeAll('loading');
            }
      }
    });
  })
  </script>
</body>
</html>