<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>在线报价</title>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>

<link type="text/css" rel="stylesheet" href="css/style.css" />

</head>

<body>

<div class="mainbox_one">
	<div class="main">
		<h1>光伏电站检测</h1>
		<p class="fco_666">不会检测，交与我们</p>
		<div class="sublist">
			<div class="list list_first">
				<div class="list_head">
					<h2 class="centera">系统效率套餐</h2>
					<p class="centera">智能系统效率套餐</p>
					<div class="img">
						<img src="images/circle.png" />
						<div class="small"></div>
						<img src="images/site1.png" class="small"/>
					</div>
				</div>
				<div class="list_content">
					<div class="list_content_box le">
						<ul class="on">
							<li class="c3">1. 支持所有数据检测</li>
							<li class="c5">2. 产品与品牌展示</li>
							<li class="c3">3. 海量样板</li>
							<li class="c3">4. 维护操作简单</li>
						</ul>
						<ul class="no_on">
							<li>空间容量：1G</li>
							<li>线路：国内/香港</li>
							<li>价格: <b>3605元/次</b></li>
							<!--<li class="right"><b>199元/月</b></li>-->
						</ul>
					</div>
					<div class="btn_box">
						<a href="#"><div class="btn btn_left">预览服务</div></a>
						<a href="#"><div class="btn btn_right">立即购买</div></a>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="list_head">
					<h2 class="centera">尽职调查套餐</h2>
					<p class="centera">尽职调查套餐</p>
					<div class="img">
						<img src="images/circle.png" />
						<img src="images/site2.png" class="small_two"/>
					</div>
				</div>
				<div class="list_content">
					<div class="list_content_box">
						<ul class="on">
							<li class="c3">1. 支持手机站端网站</li>
							<li class="c5">2. 产品与品牌展示</li>
							<li class="c3">3. 海量手机站样板</li>
							<li class="c3">4. 支持微信对接</li>
						</ul>
						<ul class="no_on">
							<li>空间容量：1G</li>
							<li>线路：国内/香港</li>
							<!-- 680 -->
							<li>价格：<b> 6800元/次</b></li>
						</ul>
					</div>
					<div class="btn_box">
						<a href="#"><div class="btn btn_left">预览服务</div></a>
						<a href="#"><div class="btn btn_right">立即购买</div></a>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="list_head">
					<h2 class="centera">竣工验收套餐</h2>
					<p class="centera">竣工验收套餐</p>
					<div class="img">
						<img src="images/circle.png" />
						<img src="images/site3.png" class="small_three"/>
					</div>
				</div>
				<div class="list_content">
					<div class="list_content_box">
						<ul class="on">
							<li class="c3">1. 自适应电脑、手机、平板所有设备访问</li>
							<li class="c5">2. 拥有三站合一的基础建站功能</li>
							<li class="c3">3. 海量响应式系列模板</li>
							<li class="c3">4. 支持微信对接</li>
						</ul>
						<ul class="no_on">
							<li>空间容量：10G</li>
							<li>线路：国内/香港</li>
							<li>价格：<b>58000元/次</b></li>
							<!--<li class="right"><b>580脭陋/脛锚</b></li>-->
						</ul>
					</div>
					<div class="btn_box">
						<a href="#"><div class="btn btn_left">了解服务</div></a>
						<a href="#"><div class="btn btn_right">立即购买</div></a>
					</div>
				</div>
			</div>
			<div class="list">
				<div class="list_head">
					<h2 class="centera">到货验收套餐</h2>
					<p class="centera">傻瓜式操作自由检测</p>
					<div class="img">
						<img src="images/circle.png" />
						<img src="images/site4.png" class="small_two"/>
					</div>
				</div>
				<div class="list_content">
					<div class="list_content_box">
						<ul class="on">
							<li class="c3">1. 支持所有设备</li>
							<li class="c5">2. 拥有三站合一的建站功能和营销活动</li>
							<li class="c3">3. 海量响应式和手机站系列模板</li>
							<li class="c3">4. 支持微信对接</li>
						</ul>
						<ul class="no_on">
							<li>空间容量：10G</li>
							<li>线路：国内/香港</li>
							<li>价格：<b>98000元/次</b></li>
						</ul>
					</div>
					<div class="btn_box">
						<a href="#"><div class="btn btn_left">了解服务</div></a>
						<a href="#"><div class="btn btn_right">立即购买</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
