

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>消息中心</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid" id="LAY-app-message">
    <div class="layui-card">
      <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
          <li class="layui-this">全部消息</li>
        </ul>
        <div class="layui-tab-content">
        
          <div class="layui-tab-item layui-show">
            <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
              <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="all" data-events="del">删除</button>
              <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="all" data-events="ready">标记已读</button>
              <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="all" data-events="readyAll">全部已读</button>
            </div>
            
            <table id="LAY-app-message-all" lay-filter="LAY-app-message-all"></table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','admin', 'table', 'util'],function(){
	  var $ = layui.$
	  ,admin = layui.admin
	  ,table = layui.table
	  ,util = layui.util
	  ,element = layui.element;
	  
	  var DISABLED = 'layui-btn-disabled'
		  
		  //区分各选项卡中的表格
		  ,tabs = {
		    all: {
		      text: '全部消息'
		      ,id: 'LAY-app-message-all'
		    }
		  };
		  
		  //标题内容模板
		  var tplTitle = function(d){
			  var html='';
			  		if(d.isRead==0){
			  			html = '<a  style="color:black"  href="/message/gotodetailHtml?id='+ d.id +'">'+d.title+'</a>';
					  }else{
						  html = '<a style="color:grey" href="/message/gotodetailHtml?id='+ d.id +'">'+d.title+'</a>';
					  }
				return html;
		  };
		  
		  //全部消息
		  table.render({
		    elem: '#LAY-app-message-all'
		    ,url: '/message/myMessage' 
		    ,page: true
		    ,cols: [[
		      {type: 'checkbox', fixed: 'left'}
		      ,{field: 'title', title: '标题内容', minWidth: 300, templet: tplTitle}
		      ,{field: 'creat_time', title: '收到时间', width: 170, templet:function (d){
					return util.timeAgo(d.creat_time, true)
				}
				}
		    ]]
		    ,skin: 'line'
		  });
		  
		  //事件处理
		  var events = {
		    del: function(othis, type){
		      var thisTabs = tabs[type]
		      ,checkStatus = table.checkStatus(thisTabs.id)
		      ,data = checkStatus.data; //获得选中的数据
		      if(data.length === 0) return layer.msg('未选中行');

		      layer.confirm('确定删除选中的数据吗？', function(){
		        /*
		        admin.req('url', {}, function(){ //请求接口
		          //do somethin
		        });
		        */
		        //此处只是演示，实际应用需把下述代码放入上述Ajax回调中
		        layer.msg('删除成功', {
		          icon: 1
		        });
		        table.reload(thisTabs.id); //刷新表格
		      });
		    }
		    ,ready: function(othis, type){
		      var thisTabs = tabs[type]
		      ,checkStatus = table.checkStatus(thisTabs.id)
		      ,data = checkStatus.data; //获得选中的数据
		      if(data.length === 0) return layer.msg('未选中行');
		      
		      //此处只是演示
		      layer.msg('标记已读成功', {
		        icon: 1
		      });
		      table.reload(thisTabs.id); //刷新表格
		    }
		    ,readyAll: function(othis, type){
		      var thisTabs = tabs[type];
		      
		      //do somethin
		      
		      layer.msg(thisTabs.text + '：全部已读', {
		        icon: 1
		      });
		    }
		  };
		  
		  $('.LAY-app-message-btns .layui-btn').on('click', function(){
		    var othis = $(this)
		    ,thisEvent = othis.data('events')
		    ,type = othis.data('type');
		    events[thisEvent] && events[thisEvent].call(this, othis, type);
		  });
	  });
  </script>
</body>
</html>