

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>数据录入</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../../layuiadmin/style/admin.css"
	media="all">
<link rel="stylesheet" href="../../css/views/common.css" media="all">
  
</head>
<body>


	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
            		<button type="button" class="layui-btn" id="test-upload-type1"><i class="layui-icon"></i>上传文件</button>
					<div class="layui-card-body layui-col-md12">
							<div class="excel" style="width:100%;margin: 0 auto;">
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'upload'], function(){
    var $ = layui.jquery
    ,upload = layui.upload;
 
    //指定允许上传的文件类型
    upload.render({
      elem: '#test-upload-type1'
      ,url: '/upload/uploadExcel'
      ,accept: 'file' //普通文件
      ,done: function(res){
        console.log(res)
      }
    });

  
  });
  </script>
</body>
</html>